{% extends "layout.html"%}
{% block content %}   
    <!-- jumbotron -->
  <div class="container">
	  <div class="jumbotron">
		  <h1 id="HeadingInJumbotron">FunCode</h1>
		  <p>Learn to write, say or even color code. From very different levels of expertise. Learn to code while learning to read and write.</p>
		  <div class="the_butts" >
		  	<a class="btn btn-primary btn-block" href="/write"> Write</a>
		  	<a class="btn btn-primary btn-block" href="/say">Say</a>
		  </div>
	  </div>
  </div>
 
{% endblock %}