{% extends "layout.html"%}
{% block content %}   
    <!-- jumbotron -->
  <div class="container">
	  <div class="jumbotron">
		  <h1 id="HeadingInJumbotron">WriteSayColor</h1>
		  <p>Learn to write, say or even color code. From very different levels of expertise. Learn to code while learning to read and write.</p>
		  <p>
		    <button type="button" class="btn btn-primary btn-lg">Write</button>
		    <button type="button" class="btn btn-primary btn-lg">Say</button>
		    <button type="button" class="btn btn-primary btn-lg">Color</button>
		  </p>
		
	  </div>
  </div>
 
{% endblock %}