<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/style.css" type="text/css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <title>WriteSay</title>
    </head>

    <body>

        <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WriteSayColor Code</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- navbar ends here -->

    {% block content %}
  
    {% endblock %}

    </body>

    {% block footer%}

    <div class="footer">
      <div class="container">
            <p>Built by Team Awesome</p>
      </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="javascripts/MainJavascript.js"></script>
    <script type="text/javascript" src="javascripts/ocrad.js"></script>
    <script src="speakClient.js"></script>
    <script type="text/javascript" src="speak.js"></script>
    {% endblock %}
</html>



