{% extends "layout.html"%}
{% block content%}


	<div class="container">
			<div class="row">
				

			<div class="col-md-5">
				<video id="video" src="img/StarWars.mp4" mute autoplay onclick="recognize_snapshot()"></video>
			</div>
			
			<div class="col-md-5 jumbotron" id="transcriptio">
				<div id="text">
					Click on the video to capture your command's picture.
				</div>
			</div>

			</div>
			<div>
				


			</div>


			
		

	</div>
  				

{% endblock %}

{% block footer%}

{{super()}}


<script type="text/javascript" src="javascripts/write.js"></script>

{% endblock %}

