{% extends "layout.html"%}
{% block content%}


	<div class="container">
			<div class="row">
				

			<div class="col-md-5">
				<video id="video" src="img/StarWars.mp4" mute autoplay onclick="recognize_snapshot()"></video>
			</div>
			
			<div class="col-md-5 jumbotron" id="transcriptio">
				<div id="text">
					Click on the video to capture your command's picture.
				</div>
			</div>

			</div>
			<div class="row">
				<div class="col-md-12">
					 <img  id = "the_rectangle" class='the_shapes' src="http://www.stickylife.com/images/u/00f64548d7c143679451826126f3b743-800.png">

				</div>


			</div>


			
		

	</div>
  				

{% endblock %}

{% block footer%}

{{super()}}


<script type="text/javascript" src="javascripts/write.js"></script>

{% endblock %}

