body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#HeadingInJumbotron {
  text-align:center;
}
h1{
  text-align:center;
}

#transcription, #video {
		background: white;
		display: inline-block;
		border: 2px solid #ddd;
		margin: 10px;
}

#video {
		
				width: 500px;
				flex-grow: 1;
				background: black;
}