body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#jumbotronLogo{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
h1{
  text-align:center;
}

#transcription,#video{
		background: white;
		display: inline-block;
		border: 2px solid #ddd;
		margin: 10px;
}

#video {
		
		width: 90%;
		flex-grow: 1;
		background: black;
}
#logo{
margin-top:-10px;
height:45px;
width:150px;
}

#the_rectangle{
	display: none;
}

.the_butts{
	width: 400px;
	text-align: center;
	margin: auto;
}