body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#HeadingInJumbotron {
  text-align:center;
}
h1{
  text-align:center;
}

#transcription,#video{
		background: white;
		display: inline-block;
		border: 2px solid #ddd;
		margin: 10px;
}

#video {
		
		width: 90%;
		flex-grow: 1;
		background: black;
}
#logo{

}

#the_rectangle{
	display: none;
}

.the_butts{
	width: 400px;
	text-align: center;
	margin: auto;
>>>>>>> 47e5795b77c6c81acdd938e98d2ee6c6d42639e0
}